body{
	font-family: sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0px;
	caption{
		border: 1px solid #000;
		border-bottom: none;
		font-size: 20px;
	}
	th, td {
		border: 1px solid #000;
		text-align: center;
		min-width: 30px;
	}
	th:nth-child(6), td:nth-child(6) {
		color: red;
	}
	th:last-child, td:last-child {
		color: red;
	}
}
