body{
	background-color: aqua;
}

.container {
	background-color: bisque;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

#zagolovku {
	color: brown;
}

img {
	max-width: 300px;
}