html{
	font-family: sans-serif;
}

body * {
	box-sizing: border-box;
	color: black;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.container{
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__inner{
	display: flex;
	justify-content:space-between;
	align-items: center;
	padding: 20px 10px;
	border-bottom: 2px solid gray;

	.header__logo{
		width: 30px;
		height: 30px;
		background-color: black;
	}

	ul {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.header__tel{
		text-decoration: none;
	}
}